<!-- views/viewpaper.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title><%= paper.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/paper.css">
</head>
<body>
  <div class="header">
    <h1><%= paper.title %></h1>
  </div>

  <div class="info">
    <p><strong>Subject:</strong> <%= paper.subject.name %></p>
    <p><strong>Date:</strong> <%= paper.date ? paper.date.toDateString() : 'N/A' %></p>
  </div>

  <% paper.questions.forEach(function(question) { %>
    <div class="question">
      <h3>Question <%= question.questionNumber %> (<%= question.marks %> marks)</h3>
      <p><%= question.questionText %></p>
      <% if (question.codeSnippet) { %>
        <pre><code><%= question.codeSnippet %></code></pre>
      <% } %>
      <% if (question.options && question.options.length > 0) { %>
        <ul>
          <% question.options.forEach(function(option) { %>
            <li><%= option %></li>
          <% }); %>
        </ul>
      <% } %>
    </div>
  <% }); %>

  <div class="footer">
    <p>End of Paper</p>
  </div>
</body>
</html>